#diamond-container {
  border: 5px solid red;
  padding: 10px 15px;
  margin: 10px;
  font-family: monospace;
  position: absolute;
  letter-spacing: 1px;
  font-size: large;
  display: inline-block;
  text-align: center;
}
