#diamond-container {
  border: 2px solid;
  border-color: blueviolet;
  padding: 10px;
  display: inline-block;
  margin: 20px;
  font-family: monospace;
  letter-spacing: 1px;
  font-size: x-large;
}
